In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\\Users\LENOVO\machine_learning\House Price.csv')

In [3]:
df

,Id,LotFrontage,LotArea,Alley,MasVnrArea,1stFlrSF,2ndFlrSF,GrLivArea,GarageType,GarageArea,SalePrice
0,1,65.0,8450,NaN,196.0,856,854,1710,Attchd,548,208500
1,2,80.0,9600,NaN,0.0,1262,0,1262,Attchd,460,181500
2,3,68.0,11250,NaN,162.0,920,866,1786,Attchd,608,223500
3,4,60.0,9550,NaN,0.0,961,756,1717,Detchd,642,140000
4,5,84.0,14260,NaN,350.0,1145,1053,2198,Attchd,836,250000
...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,62.0,7917,NaN,0.0,953,694,1647,Attchd,460,175000
1456,1457,85.0,13175,NaN,119.0,2073,0,2073,Attchd,500,210000
1457,1458,66.0,9042,NaN,0.0,1188,1152,2340,Attchd,252,266500
1458,1459,68.0,9717,NaN,0.0,1078,0,1078,Attchd,240,142125
1459,1460,75.0,9937,NaN,0.0,1256,0,1256,Attchd,276,147500

In [4]:
df.drop(['Id','Alley','GarageType'],axis = 1,inplace = True)

In [5]:
df.isnull().sum()

LotFrontage    259
LotArea          0
MasVnrArea       8
1stFlrSF         0
2ndFlrSF         0
GrLivArea        0
GarageArea       0
SalePrice        0
dtype: int64

In [6]:
df.describe()

,LotFrontage,LotArea,MasVnrArea,1stFlrSF,2ndFlrSF,GrLivArea,GarageArea,SalePrice
count,1201.000000,1460.000000,1452.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,70.049958,10516.828082,103.685262,1162.626712,346.992466,1515.463699,472.980137,180921.195890
std,24.284752,9981.264932,181.066207,386.587738,436.528436,525.480383,213.804841,79442.502883
min,21.000000,1300.000000,0.000000,334.000000,0.000000,334.000000,0.000000,34900.000000
25%,59.000000,7553.500000,0.000000,882.000000,0.000000,1129.500000,334.500000,129975.000000
50%,69.000000,9478.500000,0.000000,1087.000000,0.000000,1464.000000,480.000000,163000.000000
75%,80.000000,11601.500000,166.000000,1391.250000,728.000000,1776.750000,576.000000,214000.000000
max,313.000000,215245.000000,1600.000000,4692.000000,2065.000000,5642.000000,1418.000000,755000.000000

In [7]:
#df['GarageType'].fillna(df['GarageType'].mode()[0],inplace = True)

In [8]:
df.isnull().sum()

LotFrontage    259
LotArea          0
MasVnrArea       8
1stFlrSF         0
2ndFlrSF         0
GrLivArea        0
GarageArea       0
SalePrice        0
dtype: int64

In [9]:
df['LotFrontage'].mean()

70.04995836802665

In [10]:
df['LotFrontage'].mode()

0    60.0
dtype: float64

In [11]:
df['LotFrontage'].median()

69.0

In [12]:
df['LotFrontage'].fillna(df['LotFrontage'].median(),inplace = True)

In [29]:
df['MasVnrArea'].fillna(df['MasVnrArea'].mean(),inplace = True)

In [30]:
df.head()

,LotFrontage,LotArea,MasVnrArea,1stFlrSF,2ndFlrSF,GrLivArea,GarageArea,SalePrice
0,-0.220875,-0.207142,0.510015,-0.793434,1.161852,0.370333,0.351000,0.347273
1,0.460320,-0.091886,-0.572835,0.257140,-0.795163,-0.482512,-0.060731,0.007288
2,-0.084636,0.073480,0.322174,-0.627826,1.189351,0.515013,0.631726,0.536154
3,-0.447940,-0.096897,-0.572835,-0.521734,0.937276,0.383659,0.790804,-0.515281
4,0.641972,0.375148,1.360826,-0.045611,1.617877,1.299326,1.698485,0.869843

In [31]:
#df = pd.get_dummies(df,columns = ['GarageType'])

In [32]:
df

,LotFrontage,LotArea,MasVnrArea,1stFlrSF,2ndFlrSF,GrLivArea,GarageArea,SalePrice
0,-0.220875,-0.207142,0.510015,-0.793434,1.161852,0.370333,0.351000,0.347273
1,0.460320,-0.091886,-0.572835,0.257140,-0.795163,-0.482512,-0.060731,0.007288
2,-0.084636,0.073480,0.322174,-0.627826,1.189351,0.515013,0.631726,0.536154
3,-0.447940,-0.096897,-0.572835,-0.521734,0.937276,0.383659,0.790804,-0.515281
4,0.641972,0.375148,1.360826,-0.045611,1.617877,1.299326,1.698485,0.869843
...,...,...,...,...,...,...,...,...
1455,-0.357114,-0.260560,-0.572835,-0.542435,0.795198,0.250402,-0.060731,-0.074560
1456,0.687385,0.266407,0.084610,2.355701,-0.795163,1.061367,0.126420,0.366161
1457,-0.175462,-0.147810,-0.572835,0.065656,1.844744,1.569647,-1.033914,1.077611
1458,-0.084636,-0.080160,-0.572835,-0.218982,-0.795163,-0.832788,-1.090059,-0.488523
1459,0.233255,-0.058112,-0.572835,0.241615,-0.795163,-0.493934,-0.921624,-0.420841

In [33]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df_scaled=scaler.fit_transform(df)

In [34]:
df_scaled

array([[-0.22087509, -0.20714171,  0.51141841, ...,  0.37033344,
         0.35100032,  0.34727322],
       [ 0.46031974, -0.09188637, -0.57441047, ..., -0.48251191,
        -0.06073101,  0.00728832],
       [-0.08463612,  0.07347998,  0.32306034, ...,  0.51501256,
         0.63172623,  0.53615372],
       ...,
       [-0.1754621 , -0.14781027, -0.57441047, ...,  1.56964722,
        -1.03391416,  1.07761115],
       [-0.08463612, -0.08016039, -0.57441047, ..., -0.83278768,
        -1.09005935, -0.48852299],
       [ 0.23325479, -0.05811155, -0.57441047, ..., -0.49393395,
        -0.9216238 , -0.42084081]])

In [35]:
df = pd.DataFrame(df_scaled,columns = ['LotFrontage','LotArea','MasVnrArea','1stFlrSF','2ndFlrSF','GrLivArea','GarageArea','SalePrice'])

In [36]:
df

,LotFrontage,LotArea,MasVnrArea,1stFlrSF,2ndFlrSF,GrLivArea,GarageArea,SalePrice
0,-0.220875,-0.207142,0.511418,-0.793434,1.161852,0.370333,0.351000,0.347273
1,0.460320,-0.091886,-0.574410,0.257140,-0.795163,-0.482512,-0.060731,0.007288
2,-0.084636,0.073480,0.323060,-0.627826,1.189351,0.515013,0.631726,0.536154
3,-0.447940,-0.096897,-0.574410,-0.521734,0.937276,0.383659,0.790804,-0.515281
4,0.641972,0.375148,1.364570,-0.045611,1.617877,1.299326,1.698485,0.869843
...,...,...,...,...,...,...,...,...
1455,-0.357114,-0.260560,-0.574410,-0.542435,0.795198,0.250402,-0.060731,-0.074560
1456,0.687385,0.266407,0.084843,2.355701,-0.795163,1.061367,0.126420,0.366161
1457,-0.175462,-0.147810,-0.574410,0.065656,1.844744,1.569647,-1.033914,1.077611
1458,-0.084636,-0.080160,-0.574410,-0.218982,-0.795163,-0.832788,-1.090059,-0.488523
1459,0.233255,-0.058112,-0.574410,0.241615,-0.795163,-0.493934,-0.921624,-0.420841

In [37]:
x = df.drop('SalePrice',axis = 1)

In [38]:
y = df['SalePrice']

In [45]:
y

0       0.347273
1       0.007288
2       0.536154
3      -0.515281
4       0.869843
          ...
1455   -0.074560
1456    0.366161
1457    1.077611
1458   -0.488523
1459   -0.420841
Name: SalePrice, Length: 1460, dtype: float64

In [46]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [48]:
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [50]:
from sklearn.svm import SVR
svr= SVR(C=10)

In [51]:
svr.fit(x_train, y_train)

SVR(C=10)

In [52]:
from sklearn.metrics import r2_score
score= r2_score(y_test,svr.predict(x_test))
score

0.6202685459974941

In [ ]:
df